In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
lista=[]
for chunk in pd.read_csv('~/Data/challenge/bookings.csv.bz2',sep='^', compression='bz2', chunksize=10000):
    lista.append(len(chunk))

sum(lista)

10000010

In [16]:
chunk

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
10000000,2013-05-14 00:00:00,1A,IN,9e586aade06c70687736accbe5e98737,1032cd50f5b60ddef3e3f3f8e4285972,0fae61de5c249aaa28c2d573b589becf,2013-05-14 00:00:00,4003,2968,POM,...,MELADL,GK,V,Y,2013-07-12 07:10:00,2013-07-12 08:13:15,2,2013,5,DELVS319B
10000001,2013-05-28 00:00:00,1A,US,000a63dddc771356a09b2df81781d933,dda0cc56cd8e7e238cef9601d4ed7038,1df256f97e81f128fce7397753ce4a4f,2013-05-28 00:00:00,6388,0,MEM,...,MEMLAS,NV,L,Y,2013-11-03 08:30:00,2013-11-03 09:58:22,2,2013,5,NULL
10000002,2013-05-28 00:00:00,1A,US,000a63dddc771356a09b2df81781d933,dda0cc56cd8e7e238cef9601d4ed7038,1df256f97e81f128fce7397753ce4a4f,2013-05-28 00:00:00,6388,0,MEM,...,LASMEM,NV,L,Y,2013-11-07 13:30:00,2013-11-07 18:58:22,2,2013,5,NULL
10000003,2013-05-14 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,13203,0,CMB,...,CMBMAA,FV,V,Y,2013-05-15 13:35:00,2013-05-15 15:08:39,1,2013,5,NULL
10000004,2013-05-14 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,13203,0,CMB,...,MAACMB,FV,V,Y,2013-05-24 16:05:00,2013-05-24 17:38:39,1,2013,5,NULL
10000005,2013-05-18 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,13203,0,CMB,...,MAACMB,FV,V,Y,2013-05-24 16:05:00,2013-05-24 17:38:39,-1,2013,5,NULL
10000006,2013-05-18 00:00:00,1A,LK,1a5585bef21f0bf8dc865a87843635f9,6ff8fd087f94799d7aed903683384775,3b339797f7eca14c24e8b7565da822c0,2013-05-14 00:00:00,6003,0,CMB,...,MAACMB,FV,V,Y,2013-05-19 16:05:00,2013-05-19 17:38:39,1,2013,5,NULL
10000007,2013-05-28 00:00:00,1A,US,07e98d2fd3cd4b737266b99727f7faa8,e8741eaf2fa2f71f931475d18fa72096,2b22597bdad931843c3b1d5219836e07,2013-05-28 00:00:00,328,1865,AUS,...,AUSDFWRDU,KK,Q,Y,2013-07-12 08:35:00,2013-07-12 15:03:14,1,2013,5,SEAEX38AA
10000008,2013-05-28 00:00:00,1A,FR,e2679367673d50f1ee085127d8a00eba,5f26f53ca29672815e0ee3bd93a2b0e4,4eb40315a7263131ae17712cd505b62a,2013-05-28 00:00:00,588,0,TLS,...,TLSORY,KP,S,Y,2013-06-04 10:50:00,2013-06-04 12:18:20,1,2013,5,LYSSR210Z
10000009,2013-05-28 00:00:00,1A,FR,e2679367673d50f1ee085127d8a00eba,5f26f53ca29672815e0ee3bd93a2b0e4,4eb40315a7263131ae17712cd505b62a,2013-05-28 00:00:00,588,0,TLS,...,ORYTLS,KP,S,Y,2013-06-04 19:10:00,2013-06-04 20:38:20,1,2013,5,LYSSR210Z