In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
lista=[]
lista_bookings=pd.DataFrame([])
k=1
for chunk in pd.read_csv('~/Data/challenge/bookings.csv.bz2',sep='^', compression='bz2', chunksize=10000):
    lista.append(len(chunk))
    chunk['arr_port']=chunk['arr_port'].str.upper().str.strip()
    
    lista_bookings= lista_bookings.append(chunk[['arr_port','pax']])

sum(lista)

10000010

In [25]:
lista_bookings

         arr_port  pax
0             LHR -1.0
1             CLT  1.0
2             CLT  1.0
3             SVO  1.0
4             SVO  1.0
...           ...  ...
10000005      MAA -1.0
10000006      MAA  1.0
10000007      RDU  1.0
10000008      ORY  1.0
10000009      ORY  1.0

[10000010 rows x 2 columns]

In [ ]:
lista_bookings.groupby(['arr_port']).sum()['pax'].sort_values(ascending=False)[:10]

In [ ]:
lista=[]
k=1
for chunk in pd.read_csv('~/Data/challenge/bookings.csv.bz2',sep='^', compression='bz2', chunksize=10000):
    lista.append(len(chunk))
    chunk['arr_port']=chunk['arr_port'].str.upper().str.strip()
    chunk['pax']=chunk['pax']
    for df in chunk[['arr_port','pax']]:
        df1=pd.concat([df])
        k+=1
        if k==4:
            break
    
sum(lista)